<footer class="bottom-library">
    <div class="left-library">
        <p class="library-logo">royal spirit</p>
        <p> 8467 Spruce Road
            Riverdale, PA 14403</p>
        <p> <strong>Contact</strong></p>
        <p> 1800 29933 494 040</p>
        <p> contact@royalspirit.com</p>
    </div>
    <div class="right-library">
        <ul>
            <li class="unbullet"><a href="/">home</a></li>
            <li class="unbullet"> <a href="/beer"> beer</a></li>
            <li class="unbullet"><a href="/wine"> wine</a></li>
            <li class="unbullet"><a href="/spirits"> spirits</a></li>
            <li class="unbullet"><a href="/champagne"> champagne</a></li>
            <li class="unbullet"><a href="/community"> community</a></li>

        </ul>
    </div>
</footer>