<div class="search-filter-div">
    <div class="scroll">
        <div>
            <ul class="brands-scroll-box">


                <h3>Filter by brands</h3>

                <a class="brand-name" href="">
                    <li> brand name </li>
                </a>
                <a class="brand-name" href="">
                    <li> brand name </li>
                </a>
                <a class="brand-name" href="">
                    <li> brand name </li>
                </a>
                <a class="brand-name" href="">
                    <li> brand name </li>
                </a>
                <a class="brand-name" href="">
                    <li> brand name </li>
                </a>
            </ul>
        </div>
    </div>
    <div>
        <ul class="brands-scroll-box">
            <h3>Filter by price</h3>
            <p> $ <input class="price-range" type="number" name="price-range-one" /> to $ <input class="price-range"
                    type="number" name="price-range-two" /> </p>

        </ul>
        <h3>Filter by subcategories</h3>

        <div class="subs-scroll-box">
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
            <button class="sub-butt"> sub</button>
        </div>
    </div>

</div>