<nav class="navigation-bar">

    <a href="/" class="not-logo">royal spirit</a>

    <button class="navigation-button-side" type="button" onclick="openSidebar()" id="three-lines"
        aria-label="Toggle navigation menu">
        ☰
    </button>

    <ul class="bws" id="drunk-links">
        <button class="navigation-button-side" type="button" onclick="closeSidebar()" id="Xy"
            aria-label="Toggle navigation menu">
            X
        </button>
        <li><a href="/beer"> beer</a></li>
        <li><a href="/wine"> wine</a></li>
        <li><a href="/spirits"> spirits</a></li>
        <li><a href="/champagne"> champagne</a></li>
        <li><a href="/community"> community</a></li>

        <li>
            <form action="/search" method="GET">
                <input class="search-bar" type="text" name="search" id="search" />
                <button> ! </button>
            </form>
        </li>
        <li>
            <a href="#joinbutton"><button class="button-list-nav">Join</button></a>
        </li>


        <li class="dropdown">
        <% if(isLoggedIn){ %>
            <h1>foo</h1>
          <% } else{ %>  
            <h1>bar</h1>
         <% } %>
        

            <a href="javascript:void(0)" id="sgaccount" class="dropbtn">Sign In</a>
            <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/create-account">Register</a>
            </div>
           
        </li>

    </ul>

</nav>

