<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>


</head>

<body>
    <main style="min-height: 80vh">
        <header class="community-face">
            <%- include('includes/navvster') %>

            <h2 class="drink-head"> community </h2>


        </header>

    </main>







    <section>
        <%- include('includes/waiting-list.ejs') %>




    </section>



    <footer>
        <%- include('includes/bottom-bit') %>

    </footer>
</body>

</html>