<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>



<body>
    <header class="loading-image-main">

        <%- include('includes/navvster') %>

            <h2 class="position-title">Refined. Remarkable.</h2>



    </header>



    <main>
        <section class="carousel-setup">
            <ul class="carousel">
                <li class="spacey">space></li>

                <li class="carriage" id="1">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="2">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="3">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="4">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="5">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="6">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="7">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="8">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="9">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="10">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="11">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="spacey">space></li>


            </ul>

        </section>

        <section class="mini-titles-section">
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://media.istockphoto.com/id/1460761498/photo/pouring-different-wines-into-the-glasses-arranged-for-the-wine-tasting-on-the-counter.jpg?s=612x612&w=0&k=20&c=oVy-iR76yZHoqpx_Rk2TUTSjNl2rY-inoSzcXT_wp4Y="
                    alt="grey box" width=80% height=width>
                <h2>Experiences</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    mper
                    nisiLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor. mper
                    nisi.
                </p>
            </article>
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://www.welovelocal.nz/wp-content/uploads/2020/11/craft-gin-gift-box-table.jpg"
                    alt="grey box" width=80% height=width>
                <h2>Packages</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    mper
                    nisiLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor. mper
                    nisi.
                </p>
            </article>
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://www.fftcaters.com/blog/wp-content/uploads/2021/03/Large-Event-Catering-Atlanta-GA.jpg"
                    alt="grey box" width=80% height=width>
                <h2>Events</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    mper
                    nisiLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor. mper
                    nisi.
                </p>
            </article>
                      

            



            </section>
            <section class="drink-maker">
                <div>

                    <h1 class="position-title-black">make a drink</h1>
                </div>
                <div>
                    <a  href="/drinks/new"><button class="button-make"> Click here</button> </a>
                </div>
            </section>
            <%- include('includes/waiting-list.ejs') %>

        </section>
            <P></P>
    </main>


    <footer>
        <%- include('includes/bottom-bit') %>

    </footer>

</body>

</html>