<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>



<body>
    <header class="loading-image-main">

        <%- include('includes/navvster') %>

            <h2 class="position-title">Refined. Remarkable.</h2>



    </header>



    <main>
        <section class="carousel-setup">
            <ul class="carousel">
                <li class="spacey">space></li>

                <li class="carriage" id="1">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="2">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="3">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="4">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="5">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="6">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="7">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="8">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="9">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="10">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="carriage" id="11">
                    <img class="floor-tile"
                        src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </li>
                <li class="spacey">space></li>


            </ul>

        </section>

        <section class="mini-titles-section">
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://media.istockphoto.com/id/1460761498/photo/pouring-different-wines-into-the-glasses-arranged-for-the-wine-tasting-on-the-counter.jpg?s=612x612&w=0&k=20&c=oVy-iR76yZHoqpx_Rk2TUTSjNl2rY-inoSzcXT_wp4Y="
                    alt="grey box" width=80% height=width>
                <h2>Experiences</h2>
                <p>Join our expert-led tastings, hands-on cocktail workshops, and exclusive producer meetups. Expand
                    your palate with our food pairing events and limited release previews. From beginner classes to
                    connoisseur sessions, we create memorable moments that transform drinking into an art form. Sign up
                    for our newsletter to never miss an event!
                </p>
            </article>
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://www.welovelocal.nz/wp-content/uploads/2020/11/craft-gin-gift-box-table.jpg"
                    alt="grey box" width=80% height=width>
                <h2>Packages</h2>
                <p>Explore our thoughtfully curated alcohol packages, perfect for any occasion. From premium gift sets
                    featuring rare spirits to themed tasting collections that showcase regional specialties. Our
                    seasonal bundles pair perfectly with holidays, while our customizable packages let you create
                    personalized selections. Each package comes beautifully presented with tasting notes and pairing
                    suggestions, making them ideal gifts or special treats for yourself. Discover exceptional value and
                    extraordinary flavors in every package.
                </p>
            </article>
            <article class="mini-titles">
                <img class="grey-box"
                    src="https://www.fftcaters.com/blog/wp-content/uploads/2021/03/Large-Event-Catering-Atlanta-GA.jpg"
                    alt="grey box" width=80% height=width>
                <h2>Events</h2>
                <p>Elevate your gatherings with our expert beverage catering services. From corporate functions to
                    intimate celebrations, we design custom drink experiences tailored to your event. Our knowledgeable
                    staff creates signature cocktails, curates wine selections, and provides professional service that
                    impresses guests. We offer full-service packages including bartenders, glassware, and premium
                    spirits, or delivery-only options with everything needed for self-service.5
                </p>
            </article>






        </section>
        <% if(isLoggedIn){ %>

            <section class="drink-maker">

                <div>

                    <h1 class="position-title-black">make a drink</h1>
                </div>
                <div>
                    <a href="/drinks/new"><button class="button-make"> Click here</button> </a>
                </div>

                <% } %>
            </section>
            <%- include('includes/waiting-list.ejs') %>

                </section>
                <P></P>
    </main>


    <footer>
        <%- include('includes/bottom-bit') %>

    </footer>

</body>

</html>