<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Sign In Button</title>
    <style>
        .dropdown-options {
            position: relative;
            display: inline-block;
        }

        .dropbtn {
            cursor: pointer;
            padding: 10px 15px;
            margin: 100px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: white;
            min-width: 250px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            z-index: 1;
            padding: 15px;
        }

        .show {
            display: block;
        }
    </style>
</head>

<body>
    

    <script>
        
    </script>
</body>

</html>