/* this page has everything related to the navigation bar setup */

.bws {
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

h1 {
    color: #121e23;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36, 24, 24, 0.5);
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: bold;
    font-size: 200%;
}

.navigation-bar a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.dropbtn {
    display: inline-block
}

li a,
.dropbtn {
    display: inline-block;
    color:#121e23 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color:#121e23;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #121e23;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #2a3b42;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navigation-button-side {
    padding: 1rem;
    transition: right 0.3s ease;
    display: block;
}

#three-lines button {
    color: #220c0c;
    background-color: none;

}

.sidebar.active {
    right: 0;
}

.search-bar {
    width: 200px;
    font-size: larger;
    text-align: center;
}

.navigation-bar a:hover {
    text-decoration: rgb(111, 110, 110);
}

.navigation-bar a:visited {
    color: white;
}

.button-list-nav {
    color: #f0f0f0;
    font-size: 100%;
    border-color: #f0f0f0;
    border: 2px solid #f0f0f0;
    background-color: #121e23;
    height: 50px;
    width: 150px;
    transition: color 0.3s ease;
    background-color: 0.3s ease;
    cursor: pointer;
    background: rgb(0 0 0 / 30%);
}

.button-list-nav:hover {
    color: #2a3b42;
    background-color: #f0f0f0;
}

.not-logo {
    text-align: center;
}

/* everything is set to a small screen and exceptions made below for when the screen is big */
@media screen and (max-width: 40rem) {}

@media screen and (min-width: 40rem) {}

@media screen and (min-width: 110rem) {
    .bws {
        flex-direction: row;
        display: flex;
    }

    .navigation-bar {
        flex-direction: row;
    }

    .navigation-button-side {
        display: none;
    }

}