/* CSS Reset */

html,
body {
  margin: 0;

  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif
}

/* Main Css */

@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mini-titles-section {
  display: flex;
  flex-direction: row;
}

.position-title {
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 400%;
  margin: auto 0;
  text-align: center;
}

.loading-image-main {
  display: flex;
  background-image: url('https://media.istockphoto.com/id/1336275269/de/foto/stark-alkoholhaltige-getr%C3%A4nke-harte-spirituosen-spirituosen-und-destillate-werden-in-gl%C3%A4sern.jpg?s=612x612&w=0&k=20&c=sOcyFZ460FsWsXbpJ1in6brinnEq0xTKpozAxQG7Tug=');
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


article {
  background: rgb(255, 255, 255);
}


.carousel-setup {
  gap: 30px;
  padding: 30px;
  width: 100%;
  position: relative;
  max-width: none;

}


.carousel {
  display: flex;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  text-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 2rem;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  li:not(.empty) {
    list-style-type: none;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    animation: highlight 0.25s forwards;
    animation-timeline: view(x);
    animation-range: cover 0% cover 100%;
  }


}

.floor-tile {
  width: 234px;
  height: 290px;
}

.carriage {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  max-width: none;
}

.spacey {
  color: transparent;
  scroll-snap-align: none;
}

.mini-titles {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
  color: #121e23;
  align-items: center;
}

.mini-titles-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
}

.grey-box {
  background-color: #cdcdcd;
  padding: 1rem;
}

.waiting-list {
  display: flex;
  flex-direction: row;
  background-color: #121e23;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.waiting-list-format {
  display: flex;
  flex-direction: column;
  background-color: #121e23;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sign-up-text {
  justify-content: left;
  color: #f0f0f0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
}

.input-email {
  justify-content: right;
  padding-right: 1rem;
  font-size: larger;
  text-align: center;
}

.button-list {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f0f0f0;
  font-size: 200%;
  border-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  background-color: #121e23;
  height: 1.4cm;
  width: 2.9cm;
  transition: color 0.3s ease;
  background-color: 0.3s ease;
  cursor: pointer;
}


.button-list:hover {
  color: #2a3b42;
  background-color: #f0f0f0;
}



.product-name {
  margin-top: 5px;
  text-align: center;
}

.bottom-library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f0f0f0;
  background-color: #121e23;
  flex-direction: row;
  padding: 2rem;
}


.library-logo {
  font-size: 200%;
  font-weight: bold;

}

.right-library a:visited {
  color: white;
  list-style: none;
  list-style-type: none;
}

.right-library a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: large;
  list-style: none;
}

.left-library {
  justify-content: left;
}

.right-library {
  justify-content: left;
}

.unbullet {
  list-style-type: none;
  list-style: none;
}

@media screen and (max-width: 40rem) {}

@media screen and (min-width: 40rem) {}

@media screen and (min-width: 75rem) {

  .waiting-list {
    flex-direction: row;
  }

  .waiting-list-format {
    flex-direction: row;
  }

  .mini-titles-section {
    grid-template-columns: repeat(3, 1fr);
  }
}