<div class="waiting-list">

    <h2 class="sign-up-text">Connect with our community</h2>
    <form action="/contact" method="POST">
        <input class="input-email" type="email" name="email_address" id="email_address" />
        <input id="joinbutton" type="submit" class="button-list" ></input>
    </form>



</div>



