<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "New Account | DrinkShop" }) %>

    <body>
        <%- include('../includes/navvster') %>

            <main style="min-height: 80vh">
                <form class="form-for-user" action="/create-account" method="POST">
                    <h1>Register</h1>

                    <input type="text" name="name" placeholder="name" required /><br />
                    <input type="date" name="age" placeholder="age" required /><br />
                    <input type="email" name="email_address" placeholder="email_address" /><br />
                    <input type="password" name="password" placeholder="password" required /><br />

                    <button class="button-make">Create</button>
                </form>

            </main>


            <%- include('../includes/waiting-list.ejs') %>



                <%- include('../includes/bottom-bit') %>

    </body>


</html>