<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>


</head>

<body>
    <header class="champagne-face">


        <%- include('includes/navvster') %>

            <h2 class="drink-head"> champagne</h2>
            
    </header>

    <main>
        <section class="double-search">
            <div class="search-filter-div">
                <h1>Filter by product</h1>
                <ul class="search-filter">
                    <li>
                        <p>example</p>
                    </li>
                    <li>
                        <p>example</p>
                    </li>
                    <li>
                        <p>example</p>
                    </li>
                    <li>
                        <p>example</p>
                    </li>
                    <li>
                        <p>example</p>
                    </li>
                </ul>
            </div>

            <div class="product-grid">
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>
                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>

                </div>
                <div class="product">
                    <img src="https://www.colourflooring.co.uk/cdn/shop/products/de_beauvoir_grey_swatch_580x580.jpg?v=1666101285"
                        alt="Product 1 Image" width="234px" height="290px">
                    <p class="mini-titles">Product Name</p>
                    <p class="mini-titles">Product Price</p>
                    <button class="cart-button"> Add to Cart </button>

                </div>


        </section>

        <section>
            <%- include('includes/waiting-list.ejs') %>



        </section>
        <p></p>
    </main>
    <footer>
        <%- include('includes/bottom-bit') %>

    </footer>
</body>

</html>