<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is the USEless page</h1>
    <a href="/use/less"><button >less</button></a>
    <a href="/use/ful"><button >ful</button></a>
    <a href="/use/ed"><button >ed</button></a>

    </body>
</html>